.main {
  background-color: #fff;

  &__content {
    display: grid;
    row-gap: 96px;

    @include onTablet {
      row-gap: 120px;
    }
  }
}

img {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}
